#navHeader {
    /* transformando o elemento em flex */
    display: flex;
    background-color: rgb(184, 74, 74);
    color: rgb(40, 77, 77);
    justify-content: space-around;
    /* alinhando os items do flex com space-around */
    align-items: center;
    /* Espaçando os items no centro */
    font-size: 15px;
}